# ========== MySQL（必填）==========
DB_HOST=Mysql主机地址,不要写127.0.0.1
DB_PORT=Mysql端口
DB_USER=Mysql用户名
DB_PASSWORD=Mysql密码
DB_NAME=mdcgs
DATABASE_URL=mysql+pymysql://用户名:密码.com@host,不要写127.0.0.1:端口/mdcgs


# ========== Redis（必填,不要写127.0.0.1）==========
REDIS_URL=redis://Redis主机地址:6379/0
REDIS_PASSWORD=Redis密码
CELERY_BROKER_URL=redis://Redis密码@Redis主机地址:6379/1
CELERY_RESULT_BACKEND=redis://Redis密码@Redis主机地址:6379/2

# ========== 安全（必填，建议随机生成）==========
SECRET_KEY=your-random-secret-key-here-change-me
ENCRYPT_KEY=your-32-byte-encryption-key-here